@model ImageServiceWeb.Models.ConfigInfo

@{
    ViewBag.Title = "ConfigView";
}

<h2>ConfigView</h2>
<table class="table">
    <tr>
        <td>
            Source name:
        </td>
        <td>
            <p type="text" id="sourceName" size="5">
                @Html.DisplayNameFor(model => model.SourceName)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            Log name:
        </td>
        <td>
            <p type="text" id="logName" size="5">
                @Html.DisplayNameFor(model => model.LogName)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            Output directory:
        </td>
        <td>
            <p type="text" id="outputDirectory" size="5">
                @Html.DisplayNameFor(model => model.OutputDir)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            Thumbnail size:
        </td>
        <td>
            <p type="text" id="thumbnailSize" size="5">
                @Html.DisplayNameFor(model => model.ThumbnailSize)
            </p>
        </td>
    </tr>
</table>
<table>
    <tr>
        Handlers:
    </tr>
    @foreach (var item in Model.Handlers)
    {
        <tr>
            <td>
                @Html.ActionLink(item.DirPath, "RemoveHandler", new { })
            </td>
        </tr>
    }
</table>