@model ImageServiceWeb.Models.ConfigInfo

@{
    ViewBag.Title = "ConfigView";
}

<link href="~/Css/config-view.css" rel="stylesheet" type="text/css" />
<style>
    ul {
        min-height:100px;
    }
</style>

<h2>ConfigView</h2>
<table class="table">
    <tr>
        <td>
            Source name:
        </td>
        <td>
            <p type="text" id="sourceName" size="5">
                @Html.DisplayFor(model => model.SourceName)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            Log name:
        </td>
        <td>
            <p type="text" id="logName" size="5">
                @Html.DisplayFor(model => model.LogName)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            Output directory:
        </td>
        <td>
            <p type="text" id="outputDirectory" size="5">
                @Html.DisplayFor(model => model.OutputDir)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            Thumbnail size:
        </td>
        <td>
            <p type="text" id="thumbnailSize" size="5">
                @Html.DisplayFor(model => model.ThumbnailSize)
            </p>
        </td>
    </tr>
</table>
<tr>
    Handlers:
</tr>
<ul class="link-table" style="border:solid 1px #000;">
    @{
        if (Model.Handlers != null && Model.Handlers.Count != 0)
        {
            foreach (var item in Model.Handlers)
            {
                if (item.DirPath != "")
                {
                    <li class="path" id="handlerLink" data-item="@item">
                        @Html.ActionLink(item.DirPath, "RemoveHandler", new { path = item.DirPath })
                        <!--<a data-toggle="modal" href="#deleteModal" data-handler="@item.DirPath">@item.DirPath</a>-->
                        <!--<button id="DeleteBtn" type="button" data-toggle="modal" data-target="#deleteModal" data-handler="@item.DirPath">@item.DirPath</button>-->
                    </li>
                }
            }
        }
    }
</ul>

<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="position: initial">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the photo?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-warning" data-dismiss="modal">No</button>
                <input type="button" class="btn btn-primary" item="" value="Yes" onclick="" />
            </div>
        </div>
    </div>
</div>

<script>
    $('#deleteModal').on('show.bs.modal',
        function(event) {
            var button = $(event.relatedTarget);
            var handler = button.data('handler');
            var modal = $(this);

            // A workaround to pass JQuery parameter to Razor
            var url = '@Url.Action("Delete", "ImageService", new { path = "temp" })';
            var replace = url.replace('temp', handler);

            // Sets "Yes" button onclick to delete corresponding handler
            var yesButton = modal.find('.modal-footer input');
            var noButton = modal.find('.modal-footer button');
            yesButton.click(function() {
                yesButton.attr("disabled", true);
                noButton.attr("disabled", true);
                location.href = replace;
            });
        });
</script>