@model ImageServiceWeb.Models.ImageServiceWebModel
@{
    ViewBag.Title = "ImageWebView";
}

<h2>Image Web</h2>
<div>
    <table>
        <tr>
            <td><p></p></td>
        </tr>
        <tr>
            <td>Service Status: </td>
            <td><p type="text" id="statusId" size="5"></p></td>
            <td>@Html.DisplayFor(model => model.GetStatus)</td>
        </tr>
        <tr>
            <td>Total Images In Cloud: </td>
            <td><p type="text" id="imageNumberId" size="5" style="margin:10px"></p></td>
            <td>@Html.DisplayFor(model => model.GetNumofPics)</td>
        </tr>
        <tr>
            <td><p></p></td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <p>Students Info:</p>
        </tr>
        <tr>
            <th>
                FirstName
            <th>
                LastName
            <th>
                ID
            <th></th>
        </tr>
        <tr>
            @foreach (var item in Model.GetInfo)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.GetFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetID)
                </td>
                <tr></tr>
            }
        </tr>
    </table>
</div>

<script>
    function () {
        $.getJSON("@Url.Action("GetServiceInfo")", function () {
            $("#statusId").text(ServiceStauts);
            $("#imageNumberId").text(NumOfImages);
        });
    };
</script>