@model ImageServiceWeb.Models.LogsModel

@{
    ViewBag.Title = "LogsView";
}

<link href="~/Css/logs-view.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>LogsView</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Filter, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Filter, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnFilter" value="Filter by type or textS" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    <table class="table">
        <tr>
            <th>
                <p type="text" id="sourceName" size="5">
                    Status
                </p>
            </th>
            <th>
                <p type="text" id="sourceName" size="5">
                    Message
                </p>
            </th>
            <th></th>
        </tr>
        @{
            if (Model != null || Model.LogsList != null)
            {
                foreach (var item in Model.LogsList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetMessage)
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>

<script>
    $("#btnFilter").click(function () {
        var input = {
            filter:$("#FilterID").val()
        };
         $.post("@Url.Action("SetFilter1")", input, function (data) {
            $("#Logs");
        }, "json");
    });
</script>