@model ImageServiceWeb.Models.PhotoListModel

@{
    ViewBag.Title = "PhotosView";
}

<h2>PhotosView</h2>

<head>
    <link href="~/Css/photos-view.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        img {
            border-radius: 50%;
        }
    </style>
</head>
<body class="vsc-initialized">
    <div class="container" id="tourpackages-carousel">
        <div class="row">
        @{
            foreach (var item in Model.GetPhotos())
            {
                string path = item.ThumbPhotoPath;
                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="img-rounded">
                        <img id="img" src="~/@path/@item.Year/@item.Month/@item.PhotoName" alt="test"/>
                    <div class="caption">
                        <h4>@item.PhotoName</h4>
                        <p>Creation date:</p>
                        <p>Year: @Html.DisplayFor(modelItem => item.Year), Month: @Html.DisplayFor(modelItem => item.Month)</p>
                        <p>@Html.ActionLink("View", "PhotoToView", new { path = item.PhotoPath }, new { @class = "btn btn-primary" }) @Html.ActionLink("Delete", "DeletePhotoView", new { photoPath = item.PhotoPath }, new { @class = "btn btn-primary" })</p>
                    </div>
                </div>
            </div>
            }
        }
    </div><!-- End row -->
                    </div><!-- End container -->

</body>

<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="position: initial">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the photo?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-warning" data-dismiss="modal">No</button>
                <input type="button" class="btn btn-primary" item="" value="Yes" onclick="" />
            </div>
        </div>
    </div>
</div>

<script>
    $("#DeleteBtn").click(function(event) {
        var button = $(event.relatedTarget);
        var photo = button.data('photo');

        var url = '@Url.Action("DeletePhoto", "ImageService", new { photoPath = "temp"})'
        var replace = url.replace('temp', photo);
    });
</script>

<script>
    $('#deleteModal').on('show.bs.modal',
        function(event) {
            var button = $(event.relatedTarget);
            var photo = button.data('photo');
            var modal = $(this);

            // A workaround to pass JQuery parameter to Razor
            var url = '@Url.Action("DeletePhoto", "ImageService", new { photoPath = "item"})';
            var replace = url.replace('item', photo);

            // Sets "Yes" button onclick to delete corresponding handler
            var yesButton = modal.find('.modal-footer input');
            var noButton = modal.find('.modal-footer button');
            yesButton.click(function() {
                yesButton.attr("disabled", true);
                noButton.attr("disabled", true);
                location.href = replace;
            });
        });
</script>
